<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="DataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/room" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="defaulLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="configLocations">
			<list>
				<value>/WEB-INF/hibernate.cfg.xml</value>
			</list>
		</property>
	</bean>
	<bean id="RoomServices" class="com.room.services.RoomServicesImp">
		<property name="roomDAO" ref="roomDAO" />
	</bean>

	<bean id="roomDAO" class="com.room.dao.RoomDAOImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- proxy-target-class="true" -->
	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>